# Ignore all data files
*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.RDS
/Text/*.fff
/Text/*.log
/Text/*.pdf
/Text/*.tex
/Misc
/Text/factor_loading_recovery_cache
/Text/factor_loading_recovery_files
/Text/figs
.Rproj.user
