/Text/*.fff
/Text/*.log
/Text/*.pdf
/Text/*.tex
appendix.pdf
appendix.tex
factor_loading_recovery.fff
factor_loading_recovery.log
factor_loading_recovery.pdf
factor_loading_recovery.tex
factor_loading_recovery.ttt
references.bib~2
references.bib~3
